[discord]
token = "Enter bot token here" # Do not share this with anyone!
server_id = "YOUR_SERVER_ID" # Only allow the bot to talk in this server
channel_id = "YOUR_CHANNEL_ID" # Only allow the bot to talk in this channel
FreeWill = false # If true, the bot will respond to every message in the channel. If false, only when mentioned.

[ollama]
model = "llama3.2" # Some examples of valid input are "llama3.2" and "llama2-uncensored"

[system]
prompt = ""